<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php" backupGlobals="false" backupStaticAttributes="false" strict="true"
         verbose="true">

    <testsuites>
        <testsuite name="Pson Tests">
            <directory>./MikangaliTest/Pson</directory>
        </testsuite>
    </testsuites>

</phpunit>